<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cqie.edu.NotebookSystem.mapper.TaskTypeMapper">
    <!--查询符合条件的实体-->
    <select id="list" parameterType="cqie.edu.NotebookSystem.domain.qo.TaskTypeQo" resultType="cqie.edu.NotebookSystem.domain.TaskType">
        select * from task_type
        <where>
            <if test="name!=null and name!=''">
                and name like CONCAT('%', #{name}, '%')
            </if>
            <if test="code!=null and code!=''">
                and code=#{code}
            </if>
        </where>
        order by sortCode
    </select>
    <!--新增实体-->
    <insert id="insert" parameterType="cqie.edu.NotebookSystem.domain.TaskType"  useGeneratedKeys="true" keyProperty="id">
        insert into task_type(name, code, sortCode)
        values (#{name}, #{code}, #{sortCode})
    </insert>
    <!--修改用户-->
    <update id="update" parameterType="cqie.edu.NotebookSystem.domain.TaskType">
        update task_type
        <set>
            <if test="name!=null and name!=''">
                name=#{name}
            </if>
            <if test="code!=null and code!=''">
                ,code=#{code}
            </if>
            <if test="sortCode!=null">
                ,sortCode=#{sortCode}
            </if>
        </set>
        where id=#{id}
    </update>
    <!--根据主键删除实体-->
    <delete id="deleteById" parameterType="int">
        delete from task_type where id=#{id}
    </delete>
    <!--根据主键获取实体-->
    <select id="getById" parameterType="int" resultType="cqie.edu.NotebookSystem.domain.TaskType">
        select * from task_type where id=#{id}
    </select>
    <!--根据name获取实体，不包含id指定行-->
    <select id="getByName" resultType="cqie.edu.NotebookSystem.domain.TaskType">
        select * from task_type
        where name=#{name}
        <if test="id!=null">
            and id !=#{id}
        </if>
    </select>
</mapper>
